.works{
  /* padding: 0 3rem 0 3rem; */
  display:  flex;
  height: 90vh;
  margin-top: 4rem ;
  justify-content: space-between;

}

.e-left {
    display: flex;
    flex-direction: column;
    position: relative;
 
}

.e-left>:nth-child(1){
    color: black;
    font-size: 3rem;
    font-weight:bold ;  
}

.e-left>:nth-child(2){
    font-size: 3rem;
    font-weight:bold ;
    color: var(--orange)
}

.e-left>:nth-child(3){
    font-weight: 100px;
    font-size: 14px;
    color: gray;
}


.e-right{
    position: relative;

}



.e-mainCircle{
    /* position: relative; */
    left: 9rem;
    width: 19rem;
    height: 18rem;
    border-radius: 100%;
    box-shadow: 0px 19px 60px rgb(0 0 0 / 8%);
    top:2rem;
    background: white;

}

.e-mainCircle>*{
    position: absolute;
}

.e-mainCircle>:nth-child(1){
    top:-3rem;
    left:6rem;
}

.e-mainCircle>:nth-child(2){
    left:-3rem;
    top:5rem;
}

.e-mainCircle>:nth-child(3){
    top:5rem;
    left:7rem;
    
}

.e-mainCircle>:nth-child(4){
    top:5rem;
    left:17rem;
}

.e-mainCircle>:nth-child(5){
    top:14rem;
    left:7rem;
}

.e-secCircle{
    width: 6rem;
    height: 6rem;
    position: absolute;
    border-radius: 100%;
    border: 5px solid #ebebeb;
    display: flex;
    align-items: center;
    justify-content: center;
    background: "none";
    box-shadow: 0px 19px 60px rgb(0 0 0 / 8%);
    background: whitesmoke;
   

    
}

.e-secCircle>img {
    transform: scale(0.6);

}

.e-backCircle{
position: absolute;
height: 13rem;
width: 13rem;
border-radius: 100%;
z-index: -1;

}

.blue{
    background:#c1f5ff;
    filter: blur(10px); 
    left: 11rem;
    top:0rem;
}



@media screen and (min-width:768px)and (max-width:1023px){
    .works{
        /* padding: 0 3rem 0 3rem; */
        display:  flex;
        height: 60vh;
        flex: 1;
     
       
      }

      .e-left {
        display: flex;
        flex-direction: column;
        position: relative;
        right: 40px;
     
    }

    .blur{
        position: relative;
        width: 50rem;
        height: 20rem;
        border-radius: 50%;
        top:40%;
        z-index: -9;
        right: 50%;
        filter:blur(72px) ;

    }

    

     }

     /* mobile */
     
     @media screen and (max-width:767px) {
        .works{
            /* padding: 0 3rem 0 3rem; */
            display:  flex;
            height: 80vh;
            bottom: 100%;
          
          
          }
    
          .e-left {
            display: flex;
            flex-direction: column;
            position: relative;
            left: 20%;
      
         
        }
    

        .e-right{
            position: relative;
            bottom:-35rem;
            right:30%;  
        }

    
        
     }
 


 
