.services{
    /* padding: 0rem 3rem 0rem 3rem; */
    display: flex;
    height: 110vh;
    justify-content: space-between;
    margin-bottom:13rem ;
    margin-top: 9rem; 
  
}

.s-left {
    display: flex;
    flex-direction: column;
    position: relative;
    gap:3px;
   
    
}

.s-left>:nth-child(1){
    color:var(--orange);
    font-size: 3rem;
    font-weight:bold ;
  
    
}

.s-left>:nth-child(2){
    font-weight: 100px;
    font-size: 14px;
    color: gray;
}


.se-right{
    position: absolute;
    
}

.se-right>*{
    position: relative;
    
}

.se-right>:nth-child(1){

    bottom: -100px;
    left: 850px;
   
    
}

.se-right>:nth-child(2){
    top:10px;
    left:500px;

}

.se-right>:nth-child(3){
    bottom:100px;
    left:800px;
    

}


@media screen and (min-width:768px)and (max-width:1023px){
 
    .services{
        /* padding: 0rem 3rem 0rem 3rem; */
        display: flex;
        height: 70vh;
        justify-content: space-between;
        margin-bottom:13rem ;
        margin-top: 9rem; 

       
      
    }

    .s-left {
        display: flex;
        flex-direction: column;
        position: relative;
        gap:3px;

    }

    
.se-right>:nth-child(1){

    bottom: -100px;
    left: 630px;    
}

.se-right>:nth-child(2){
    top:10px;
    left:400px;

}

.se-right>:nth-child(3){
    bottom:100px;
    left:600px;
}


}

/* mobail */

@media screen and (max-width:767px) {

    .services{
        /* padding: 0rem 3rem 0rem 3rem; */
        display: flex;
        height: 80vh;
        bottom: 100%;
       
    }

    .s-left {
        display: flex;
        flex-direction: column;
        position: relative;
        gap:3px;
        top: 10%;

    }

    
.se-right>:nth-child(1){

    bottom: -300px;
    left: 35px;    
}

.se-right>:nth-child(2){
   top:20rem;
   left:35px;

}

.se-right>:nth-child(3){
    bottom:-21rem;
    left:35px;
}


}

