.Card{
  width: 10rem;
  height: 18rem;
   display: flex;
   flex-direction: column;
   gap: 1px;
   align-items: center;
   justify-content: center;
   width: 10rem;
   text-align: center;
   background: rgba(255 , 255 , 255 , 0.26);
   border: 1px solid var(--orange);
   box-shadow: 0px 19px 60px rgba(237, 229, 75, 0.08);
   border-radius: 20px;
   padding: 10px;
   border: solid pink 3px;

}

.card>img{
    width: 100px;
    color: rgb(244, 246, 178);
}


@media screen and (min-width:768px)and (max-width:1023px){

  
  .Card{
    position: relative;
    right:200px;
    top:100px;
    
  }
 


   }

   /* mobile */
   
   @media screen and (max-width:767px) {
    .Card{
      position: relative;
      left: 100%;
      
    }
   
   }
